.filters {
  position: relative;
  top:4rem;
  width: 14rem;
  height: 100vh;
  padding: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.categorySelect {
  width: 100%;
  padding:.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: none;
  z-index: 10;
}

@media only screen and (max-width: 1200px) {
  .filters {
    position: relative;
    top:4rem;
    height: 5%;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}

