
.activeProductTile {
  transform: scale(1.1);
}

p {
  margin:0;
}

.productTile{
  position:relative;
  width:12rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding:.5rem;
  margin: 0;
}

.productImage {
  width: 100%;
}

.productInfo {
  background-color:#f7f7f7;
  margin: -0.5rem;
  padding: 0 .5rem .5rem .5rem;
}

.flexSpaceBtw {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  text-align: left;
}

.productName {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  line-height: 2rem;
  margin-top: 1rem;
}

.productCategory {
  font-size: 16px;
  font-weight: 300;
  margin-top: 0;
}

.productPrice {
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .productTile{
    position:relative;
    width:11rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding:1rem;
    margin: 0;
  }
}
