
.App{
  text-align: center;
}

.container {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.carousel__wrap {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel__inner {
  height: 60rem;
  position: relative;
  width: 60%;
}

.carousel__container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel__slide-list {
  list-style-type: none;
  margin: 0;
  position: absolute;
  transform: translateX(-50%);
  animation-direction: alternate;
}

.carousel__slide-item {
  display: inline-block;
  position: absolute;
  text-align: center;
  transition: all 0.3s;
}

.carousel__btn {
  align-items: center;
  background: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
}
.carousel__btn--prev {
  left: -4rem;
}
.carousel__btn--next {
  right: -4rem;
}

.carousel__btn-arrow {
  border: solid black;
  border-width: 0 0.4rem 0.4rem 0;
  height: 2rem;
  padding: 3px;
  width: 2rem;
  z-index: 10;
}
.carousel__btn-arrow--left {
  transform: rotate(135deg);
}
.carousel__btn-arrow--right {
  transform: rotate(-45deg);
}
