.carouselWrap {
  width: 58rem;
  padding: 4rem;
}

.carouselInner {
  display: flex;
  flex:1;
  justify-content: center;
  width: 100%;
  height: 32rem;
}

.carouselContainer {
  display: flex;
  flex:1;
  overflow: hidden;
  position: relative;
}


.carouselSlideList {
  list-style-type: none;
  position: absolute;
  top:2rem;
  padding: 1rem;
}

.carouselBtn {
  display: flex;
  flex-direction: row;
  height: 3rem;
  margin: 1rem;
  position: relative;
  top: 10rem;
  background: 0;
  border: 0;
  cursor: pointer;
  z-index: 1;
}

.carouselBtnArrowRight {
  border: solid black;
  border-width: 0 0.4rem 0.4rem 0;
  height: 2rem;
  padding: 3px;
  width: 2rem;
}
.carouselBtnArrowLeft {
  transform: rotate(135deg);
}
.carouselBtnArrowRight {
  transform: rotate(-45deg);
}


.carouselBtnArrow {
  border: solid black;
  border-width: 0 0.4rem 0.4rem 0;
  height: 2rem;
  padding: 3px;
  width: 2rem;
}


@media only screen and (max-width: 900px) {
  .carouselWrap {
    width: 80rem;
    margin: -3rem;
    margin-top: 2rem;
  }
}
